<h1>Pedidos</h1>
<hr>
<div class="">
    <button class="btn btn-warning"
    [routerLink]="['./tienda']">

     <!-- (click)="regresar()"> -->
        Regresar a Tiendas
    </button>
</div>
<hr>
<div class="panel-body mt-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha Solicitada</th>
                <th>Fecha Entrega</th>
                <th>Valor Total</th>
                <th>Tienda</th>
                <th>Detalle Pedido</th>
    
            </tr>            
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.ID}}</td>
                
                <td>{{row.fecha_solicitud}}</td>
                <td>{{row.fecha_entrega }}  </td>
                <td>{{row.valorTotal | number:'1.2' }} </td>
                <td>{{row.user }}</td>
                <td>        

                    <button class="btn btn-info" [routerLink]="['/pedidoProducto',row.ID]">
                        Detalle
                    </button>
                    
                </td>
            </tr>
        </tbody>

    </table>
</div>


